@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* foundational styles */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */
}

* {
    box-sizing: border-box;
}

:root {
    /* font colour */
    --dark: #231f20;

    /* background colour */
    --ivory: #f4f1ec; 

    /* font family */
    --worksans: 'Work Sans', sans-serif;

    /* text body size */
    --fontBody: 1.3rem;

    /* text heading size */
    --fontHeading: 1.2rem;

    /* line height for paragraphs */
    --lineHeight: 1.25;

    /* tertiary colour for accents */
    --tertiaryDark: rgba(35, 31, 32, 0.5);

    /* border props */
    --border: 0.5px solid var(--tertiaryDark);

    /* padding */
    --padding: 1.6rem;

    /* gap between elements */
    --gap: 0.8rem;

    /* gap for grid spacing */
    --gridGap: 1.2rem;

    /* grid for layout */
    --grid: repeat(12, 1fr);

    /* easing for transitions */
    --easing: cubic-bezier(0, 0.5, 0, 1); 
}

/* variable changes for desktop */

@media (min-width: 768px) {
    :root {
        --padding: 2rem;
        --gridGap: 1.6rem;
    }
}

/* Setting up */

body {
    background-color: var(--ivory);
    color: var(--dark);
    font: 400 var(--fontBody) / var(--lineHeight) var(--worksans);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--dark);
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

a, h1, h2, h3 {
    font-size: var(--fontHeading);
    text-transform: uppercase;
}

p {
    font-size: var(--fontBody);
}

/* Building the header */

header.top {
    height: 100svh;
    padding: var(--padding);
}

header.top h1 {
    position: absolute;
    top: auto;
    bottom: var(--padding);
}

header.top div.navigation nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header.top div.navigation nav ul li a {
    padding: 0.2rem 0;
    display: inline-block;
    transition: all 0.15s ease-out;
}

header.top div.logo {
    position: absolute;
    top: 48%;
    bottom: auto;
}

header.top div.signature {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

/* Hover states */

header.top div.navigation nav ul li a:hover {
    transform: translateX(2px);
    opacity: 0.65;
}

/* Animations */

header.top div.signature svg path.draw {
    stroke: var(--dark);
    stroke-dasharray: 547.1773681640625;
    stroke-dashoffset: 547.1773681640625;
    animation: draw 1s ease forwards, 
        fadeOut 0.5s ease forwards 0.75s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

header.top div.signature svg path.finished {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards 0.75s;
}

@keyframes fadeIn {
    to {
        opacity: 0.6;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0.6;
    }
}


header.top div.logo {
    opacity: 0;
    animation: fadeInLogo 0.5s ease forwards 0.65s;
}

@keyframes fadeInLogo {
    to {
        opacity: 1;
    }
}


header.top div.navigation {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInNav 0.5s ease forwards 0.65s;
}

@keyframes fadeInNav {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


header.top h1 {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInTitle 0.5s ease forwards 0.65s;
}

@keyframes fadeInTitle {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Setting up the responsiveness (header) */

@media (max-width: 1090px) {

    header.top div.logo {
        top: auto;
        bottom: var(--padding);
    }

    header.top h1 {
        position: inherit;
        margin-bottom: var(--padding);
        transform: translateY(-10px);
    }

    header.top div.signature {
        left: 50%;
    }

}

@media (max-width: 550px) {

    header.top div.logo svg {
        width: 317px;
        height: 23px;
    }

}