@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* foundational styles */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */
}

* {
    box-sizing: border-box;
}

:root {
    /* font colour */
    --dark: #231f20;

    /* background colour */
    --ivory: #f4f1ec; 

    /* font family */
    --worksans: 'Work Sans', sans-serif;

    /* text body size */
    --fontBody: 1.3rem;

    /* text heading size */
    --fontHeading: 1.2rem;

    /* line height for paragraphs */
    --lineHeight: 1.25;

    /* tertiary colour for accents */
    --tertiaryDark: rgba(35, 31, 32, 0.5);

    /* border props */
    --border: 0.5px solid var(--tertiaryDark);

    /* padding */
    --padding: 1.6rem;

    /* gap between elements */
    --gap: 0.8rem;

    /* gap for grid spacing */
    --gridGap: 1.2rem;

    /* grid for layout */
    --grid: repeat(12, 1fr);

    /* easing for transitions */
    --easing: cubic-bezier(0, 0.5, 0, 1); 
}

/* variable changes for desktop */

@media (min-width: 768px) {
    :root {
        --padding: 2rem;
        --gridGap: 1.6rem;
    }
}

/* Setting up */

body {
    background-color: var(--ivory);
    color: var(--dark);
    font: 400 var(--fontBody) / var(--lineHeight) var(--worksans);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--dark);
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

a, h1, h2, h3, button {
    font-size: var(--fontHeading);
    text-transform: uppercase;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    padding: 0;
    transition: opacity 0.15s ease-out;
}

button:hover {
    opacity: 0.65;
}

p {
    font-size: var(--fontBody);
    max-width: 35em;
}

/* Building the header */

header.top {
    height: 100svh;
    padding: var(--padding);
}

header.top h1 {
    position: absolute;
    top: auto;
    bottom: var(--padding);
}

header.top div.navigation nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header.top div.navigation nav ul li a {
    padding: 0.2rem 0;
    display: inline-block;
    transition: all 0.15s ease-out;
}

header.top div.logo {
    position: absolute;
    top: 48%;
    bottom: auto;
}

header.top div.signature {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

/* Hover states */

header.top div.navigation nav ul li a:hover {
    transform: translateX(2px);
    opacity: 0.65;
}

/* Animations */

header.top div.signature svg path.draw {
    stroke: var(--dark);
    stroke-dasharray: 547.1773681640625;
    stroke-dashoffset: 547.1773681640625;
    animation: draw 1s ease forwards, 
        fadeOut 0.5s ease forwards 0.75s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

header.top div.signature svg path.finished {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards 0.75s;
}

@keyframes fadeIn {
    to {
        opacity: 0.6;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0.6;
    }
}


header.top div.logo {
    opacity: 0;
    animation: fadeInLogo 0.5s ease forwards 0.65s;
}

@keyframes fadeInLogo {
    to {
        opacity: 1;
    }
}


header.top div.navigation {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInNav 0.5s ease forwards 0.65s;
}

@keyframes fadeInNav {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


header.top h1 {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInTitle 0.5s ease forwards 0.65s;
}

@keyframes fadeInTitle {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Setting up the responsiveness (header) */

@media (max-width: 1090px) {

    header.top div.logo {
        top: auto;
        bottom: var(--padding);
    }

    header.top h1 {
        position: inherit;
        margin-bottom: var(--padding);
        transform: translateY(-10px);
    }

    header.top div.signature {
        left: 50%;
    }

}

@media (max-width: 550px) {

    header.top div.logo svg {
        width: 317px;
        height: 23px;
    }

}


/* Building the sections' foundational styles */

section#about, section#services, section#work, section#contact {
    padding: 0 var(--padding) var(--padding) var(--padding);
    display: grid;
    grid-template-columns: var(--grid);
    gap: var(--gridGap);
    min-height: 50svh;
    opacity: 0;
    transition: opacity 1.5s var(--easing);
}

section#about h2, section#services h2, section#work h2, section#contact h2 {
    padding-top: var(--padding);
    grid-column: span 3;
    border-top: solid var(--tertiaryDark) 0.5px;
    position: sticky;
    top: -1px;
    height: fit-content;
}

section#about div.content, section#services div.accordion div.accordion-item, section#work div.work-gallery, section#contact div.contact-info {
    padding-top: var(--padding);
    display: grid;
    grid-column: span 9;
    grid-template-columns: subgrid;
    border-top: solid var(--tertiaryDark) 0.5px;
}


/* Building the about section */

section#about div.content div.text {
    grid-column: span 5;
}

section#about div.content div.image {
    grid-column: span 4;
}

section#about div.content div.image img {
    width: 100%;
    height: auto;
}


/* Setting up the responsiveness (about section) */

@media (max-width: 900px) {

    section#about div.content div.text, section#about div.content div.image {
        grid-column: span 9;
    }

    section#about div.content div.image {
        padding-top: var(--padding);
    }

}


/* Building the services section */

section#services div.accordion {
    grid-column: span 9;
    display: grid;
    grid-template-columns: subgrid;
}


section#services div.accordion div.accordion-item h3 {
    grid-column: span 5;
}

section#services div.accordion div.accordion-item div.accordion-content {
    grid-column: span 4;
    padding-bottom: 48px;
}


/* Setting up the responsiveness (services section) */

@media (max-width: 768px) {

    section#services div.accordion div.accordion-item {
        grid-template-columns: none;
        display: block;
        padding-bottom: var(--padding);
    }

    section#services div.accordion div.accordion-item h3 {
        padding-bottom: var(--padding);
        cursor: pointer;
        user-select: none;
        position: relative;
    }

    section#services div.accordion div.accordion-item h3::after {
        content: '›';
        position: absolute;
        right: 0;
        top: -5px;
        transform: rotate(90deg);
        font-size: 2rem;
        color: var(--tertiaryDark);
        transition: transform 0.3s ease;
    }

    section#services div.accordion div.accordion-item div.accordion-content {
        max-height: 0px;
        overflow: hidden;
        padding-bottom: 0px !important;
        transition: padding-bottom 0.3s ease, max-height 0.3s ease;
    }

    section#services div.accordion div.accordion-item h3.active::after {
        transform: rotate(270deg);
    }

}


/* Building the work section */

section#work div.work-gallery {
    grid-column: span 9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gridGap);
    row-gap: 48px;
    padding-bottom: 48px;
}

.project-card {
    margin-bottom: 48px;
}

.project-card img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.15s ease-out;
}

.project-card div.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: var(--padding);
}

.project-card span.view {
    opacity: 0;
    transition: opacity 0.15s ease-out;
    padding-right: 2.5rem;
}

.project-card:hover span.view {
    opacity: 0.65;
}

.project-card:hover img {
    opacity: 0.9;
}


/* Setting up the responsiveness (work section) */

@media (max-width: 1090px) {

    .project-card div.card-footer {
        flex-direction: column;
        gap: var(--gap);
        padding-top: 0;
    }

    .project-card span.view {
        padding-right: 0;
        opacity: 0.65;
    }

}


@media (max-width: 900px) {

    section#work div.work-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 600px) {

    section#work div.work-gallery {
        grid-template-columns: 1fr; 
        grid-column: span 9;
        row-gap: var(--padding);
    }

    .project-card {
        display: grid;
        grid-template-columns: 4fr 5fr;
        gap: var(--gap);
        align-items: center;
        margin-bottom: 0;
    }

    .project-card a {
        display: contents;
    }

}


/* Building the slideshow modal for the work section */

.modal {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-out;
    position: fixed; 
    z-index: 1000; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    max-width: 900px; 
    overflow: none;
    background-color: #fff; 
    padding: var(--padding);
}

.overlay {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-out;
    position: fixed;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    cursor: pointer;
    left: 0;
    top: 0;
    z-index: 999;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    height: 100%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-title {
    text-decoration: underline;
}

.modal-body img {
    width: 75%;
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 2rem;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: center;
}

.modal-body p {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.nav-btn:hover:not(:disabled) {
    opacity: 0.65;
}

.nav-btn.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.counter {
    text-align: center;
}


/* Setting the responsiveness for the modal */

@media (max-width: 450px) {

    

}


/* Building the contact section */

.contact-info a {
    text-decoration: underline;
    text-transform: none;
    font-size: var(--fontBody);
    transition: opacity 0.15s ease-out;
}

.contact-info a:hover {
    opacity: 0.65;
}

.contact-info .enquiries {
    grid-column: span 5;
}

.contact-info .footer {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.contact-info .enquiries h3 {
    padding-bottom: var(--padding);
    padding-top: var(--padding);
}

.contact-info .enquiries h3:first-child {
    padding-top: 0;
}


/* Setting the responsiveness (contact section) */

@media (max-width: 600px) {

    .contact-info .footer {
        grid-column: span 9;
        padding-top: 3.2rem;
    }

}